<!DOCTYPE html>
<html>

<head>
    <title>Item List</title>
</head>

<body>
    <h1>Item List</h1>
    <ul>
        {% for item in items %}
        <li>{{ item.name }} - {{ item.description }}</li>
        {% endfor %}
    </ul>
</body>

</html>